.imagem-carrosel{
    width: 1200px;
    height: 400px;
}

body {
    background-image: url(../img/bleach.jpg);
    background-color: rgb(0, 0, 0);
    color: white;
}

.carousel-caption {
    border-radius: 5%;
    background-color: black;
    opacity: 0.7;
}

#cadastro , #login {
    border: 2px solid black;
    border-radius: 5%;
    background-color: black;
    opacity: 0.9;
}



.carousel-caption > h4 > a:hover{
    color: white;
}

